<tr>
  <td class="created">{{ formatDate created_at }}</td>
  <td class="type">{{ postType type }}</td>
  <td class="id">{{ source_id }}</td>
  <td class="link"><a href="{{ link }}" target="_blank">{{ link }}</a></td>
  <td class="actions"><a href="/admin/undelete/{{ id }}" class="btn btn-danger">Undelete</a></td>
</tr>